@import url(./__logo_zone/resources__logo_zone.css);
@import url(./__logo/resources__logo.css);
@import url(./__link/resources__link.css);

.resources {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 100px 0 217px;
}
